.header{
    width: 100%;
    background-color: #F5F8DE;
    padding: 30px;
}
.header nav{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
    padding: 30px;
    border-radius: 8px;
}
.toggle, .close-toggle{
    display: none;
}
.header nav .brand-name a{
    font-size: 20px;
    font-weight: 700;
    color: #0D1317;
}
.header nav ul li{
    display: inline-block;
    margin-left: 40px;
}
.header nav ul li a{
    font-size: 14px;
    font-weight: 500;
    color: #101D42;
}
.header nav ul li.header-btn a{
    background-color: #232ED1;
    padding: 15px 40px;
    color: #FFFFFF;
    border-radius: 8px;
}

@media (max-width: 980px) {
    .header{
        padding: 0;
    }
    .toggle, .close-toggle{
        display: block;
        font-size: 30px;
        color: #101D42;
        text-align: right;
    }
    .close-toggle{
        color: #FFFFFF;
    }
    .header nav ul{
        position: fixed;
        top: 0;
        right: -320px;
        background-color: #232ED1;
        width: 320px;
        height: 100%;
        z-index: 999;
        padding: 30px;
        transition: right 0.3s ease-in-out;
    }
    .header-menu.open{
        right: 0px;
    }
    .header nav ul li{
        display: list-item !important;
        margin-top: 45px;
    }
    .header nav ul li a{
        display: block;
        color: #FFFFFF !important;
    }
    .header nav ul > li.header-btn a{
        text-align: center;
        background-color: #FFFFFF !important;
        color: #0D1317 !important;
    }
}